* {
  margin: 0;
  padding: 0;
}

#conway-container {
  overflow-x: hidden;
  border: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

/* #conway-canvas {
  overflow-x: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
} */
